$primary-color: #1976D2;
$dark-color: #0D47A1;
$light-color: #42A5F5;
$background-color: #ffffff;
$border-color: rgb(60 64 67 / 30%);
$white: #fff !default;
$black: #000 !default;
$border-radius: 15px !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$color_text1: #202124;
$color_text_des: #5f6368;
$simple_boxshadow: 2px 2px 2px 0 rgb(60 64 67 / 10%),
  0 1px 3px 1px rgb(60 64 67 / 15%);
$hover_color: #eee;
$input_bg_color: #eee;
// fonts
$font_regular: "notoRegular";
$font_medium: "notoMedium";
$font_bold: "notoBold";
$font_en_regular: "notoRegularEn"
